<form class="form"  #valForm="ngForm" (ngSubmit)="updatePassword(valForm.value); valForm.reset();">
  <h2>Change Password</h2>
  <p type="Old Password"><input name = "old" placeholder="Write your password here.." ngModel required/></p>
  <p type="New Password"><input name= "new_" placeholder="Type in new password.." ngModel required/></p>
  <p type="New Password Again"><input name= "new_again" placeholder="Type in new password again.." ngModel required/></p>
  <button type="submit">Update</button>
 
</form>