<!-- Card -->
<div class="card mx-xl-5 text-center">

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form #valForm="ngForm" (ngSubmit)="getStudentData(valForm.value); valForm.reset();">
            <p class="h4 text-center py-4">Search</p>

            <!-- Default input name -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Year</label>
            <input name = "year" type="text" id="defaultFormCardNameEx" class="form-control" ngModel>
            
            <br>

            <!-- Default input email -->
            <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Branch</label>
            <input name="branch" type="email" id="defaultFormCardEmailEx" class="form-control" ngModel>

            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Hit Search!<i class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->

</div>
<!-- Card -->