<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

	<div class="container row" >
		<div class="col-lg-12">
			 <h3 style="margin-top: 100px;">Academic Details</h3>
						  <form>
						    <input class="form-control" type="text" style="color: black;" placeholder="" readonly>
						    
						    <h3>Class 10th</h3>
						    <br>
						  <div class="form-group">
						    
						    <label for="schoolName10">School Name</label>
						    <input type="text" name="schoolName10" placeholder="Name of the School">
						    <br>
						    <br>
						    <div class="row">
							     <div class="form-group col-lg-6">
						      <label for="board10">Education Board</label>
						      <select id="board10" class="form-control">
						        <option >CBSE</option>
						        <option>HBSE</option>
						      </select>
						    </div>
							    <div class="col-lg-6">
							      <label for="marks10">Marks</label>
							      <input type="text" class="form-control" placeholder="CGPA">
							    </div>
							    </div>
						    <hr>
						 </div>
						  <h3>Class 12th</h3>
						    <br>
						  <div class="form-group">
						    
						    <label for="schoolName12">School Name</label>
						    <input type="text" name="schoolName12" placeholder="Name of the School">
						    <br>
						    <br>
						    <div class="row">
							     <div class="form-group col-lg-6">
						      <label for="board12">Education Board</label>
						      <select id="board12" class="form-control">
						        <option >CBSE</option>
						        <option>HBSE</option>
						      </select>
						    </div>
							    <div class="col-lg-6">
							      <label for="marks12">Marks</label>
							      <input type="text" class="form-control" placeholder="percentage">
							    </div>
							    </div>
							  
						    </div>
						    <hr>
						</form>

						<div class="container well" style="padding: 10px; margin: 10px;"> 
							  <h2>SGPA</h2>
							  <form>
							  <div class="row">
							    <div class="col-lg-4">
							      <label for="inputsemmarks">Sem 1</label>
							      <input type="text" class="form-control" placeholder="SGPA">
							    </div>
							    <div class="col-lg-4">
							      <label for="inputsemmarks">Sem 2</label>
							      <input type="text" class="form-control" placeholder="SGPA">
							    </div>
							    <div class="col-lg-4">
							      <label for="inputsemmarks">Sem 3</label>
							      <input type="text" class="form-control" placeholder="SGPA">
							    </div>
							  </div>
							  <div class="row">
							    <div class="col-lg-4">
							      <label for="inputsemmarks">Sem 4</label>
							      <input type="text" class="form-control" placeholder="SGPA">
							    </div>
							    <div class="col-lg-4">
							      <label for="inputsemmarks">Sem 5</label>
							      <input type="text" class="form-control" placeholder="SGPA">
							    </div>
							    <div class="col-lg-4">
							      <label for="inputsemmarks">Sem 6</label>
							      <input type="text" class="form-control" placeholder="SGPA">
							    </div>
							  </div>
							</form>  
							</div>
							 <div class="form-check">
						    <input type="checkbox" class="form-check-input" id="Check1">
						    <label class="form-check-label" for="Check1">Check me out</label>
						  </div>
						  <button type="submit" class="btn btn-primary">Submit</button>
						
			
		</div>
	</div>


</html>
			