.container{
	align: center;
	width: 55%;
}
.customcard{
	padding: 5%;
}
.icon{
	float: right;
	padding: 1%;

}
.card-header{
	font-size: 2em;
}
.card-title{
	margin:5px;
	font-size: 1.2em;

}
.card-title ,.card-text{
	text-align: left;
	padding: 8px;
	font-size: 0.5em;
}
