<<<<<<< HEAD
.container{
	align: center;
	width: 55%;
=======
.namecard{

	margin-top:10px;
	margin-left: 5px;
	width: 300px;

>>>>>>> 92ec5a0ae45e4f8fe1c2f4dcfb2d682c835dcd2a
}
.customcard{
	padding: 5%;
}
.icon{
	float: right;
	padding: 1%;

}
.card-header{
	font-size: 2em;
}
.card-title{
	margin:5px;
	font-size: 1.2em;

}
.card-title ,.card-text{
	text-align: left;
	padding: 8px;
	font-size: 0.5em;
}
