<app-studentnavigation></app-studentnavigation>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
	  <div class="col">
			<div class="card  customcard text-center" style="margin-top: 15%;">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Experience
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>

	<div class="card text-center customcard " >
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Education
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>

	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Featured Skills
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>
	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Accomplishments
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>
	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Interest
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>


	</div>

</div>
