<div class="mdl-card mdl-shadow--2dp">
        
          <div class="mdl-card__supporting-text">
        
            <div class="mdl-stepper-horizontal-alternative">
              <div class="mdl-stepper-step active-step" (click)='setStepperState(4)'>
                <div class="mdl-stepper-circle"><span>1</span></div>
                <div class="mdl-stepper-title">Select your company in priority</div>
                <div class="mdl-stepper-bar-left"></div>
                <div class="mdl-stepper-bar-right"></div>
              </div>
              <div class="mdl-stepper-step active-step"  (click)='setStepperState(1)'>
                <div class="mdl-stepper-circle"><span>2</span></div>
                <div class="mdl-stepper-title">Approval Status by TPO</div>
                
                <div class="mdl-stepper-bar-left"></div>
                <div class="mdl-stepper-bar-right"></div>
              </div>
              <div class="mdl-stepper-step active-step" (click)='setStepperState(2)' >
                <div class="mdl-stepper-circle"><span>3</span></div>
                <div class="mdl-stepper-title">Approval Status by Company</div>
                
                <div class="mdl-stepper-bar-left"></div>
                <div class="mdl-stepper-bar-right"></div>
              </div>
              <div class="mdl-stepper-step active-step" (click)='setStepperState(3)'>
                <div class="mdl-stepper-circle"><span>4</span></div>
                <div class="mdl-stepper-title">Fill the Details</div>
                
                <div class="mdl-stepper-bar-left"></div>
                <div class="mdl-stepper-bar-right"></div>
              </div>
            </div>
        
          </div>
        
        </div>