<!--Trainig Module-->
<div class="row">
  <div class="col-lg-12">
    <div class="well" style="margin: 100px;">
          <h3>Approval Status by Training and Placement Officer</h3>
          <form>
            <input class="form-control" type="text" style="color: black;" placeholder="Check the Status" readonly>
            
          
            <br>
          <div class="form-group" *ngFor="let data of approvedData.companyPreference; let i = index">
            <h4>{{data}} <span class="selected" *ngIf="i == indexed">Selected</span> <span class="rejected" *ngIf="i != indexed">Rejected</span></h4> 
          </div>
          
          
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

          </form>
          </div>
      </div>
    </div>