<div class="wrapper" style="margin-top: 2%">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            
            <li><a [routerLink]="['/coordinator/event']">Events</a></li>

            <li><!-- Link with dropdown items -->
               

            <li><a [routerLink]="['/coordinator/search-form']">Portfolio</a></li>
            
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <app-studentnavigation></app-studentnavigation>
        <!-- Content goes here -->
        <router-outlet></router-outlet>
    </div>

</div> 