<header>
    <h1 style="text-align:center;">Our Recruiters</h1>
</header>
<div class="client-wrap">
    
  
  
    <div class="client google">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>  
        <ul class="project-list">
  
          <hr class="bar">
          <h4 class="client-title">Google</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third and longer project name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third and longer project name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
  
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
  
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg">
    </div>
  
    <div class="client microsoft">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
  
          <hr class="bar">
          <h4 class="client-title">LG Corporation</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
  
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
  
      <img class="client-logo smaller" src="https://upload.wikimedia.org/wikipedia/commons/b/bf/LG_logo_%282015%29.svg">
    </div>
  
    <div class="client logitech">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">Logitech</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Logitech_logo.png">
    </div>
  
    <div class="client oculus">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">oculus</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/en/6/66/Oculus_VR_Logo.png">
    </div>
  
    <div class="client skype">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">Skype</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo smaller" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Skype_logo.svg">
    </div>
  
    <div class="client amd">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">AMD</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/AMD_Logo.svg">
    </div>
  
    <div class="client treehouse">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">Treehouse Island, Inc.</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/en/a/a3/Treehouse%27s_logo_%28Jan_2015%29.png">
    </div>
  
    <div class="client nickelodeon">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">Nickelodeon</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Nickelodeon_logo_new.svg">
    </div>
  
    <div class="client toysrus">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">Toys "R" Us</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Logo_Toys_R_Us.svg">
    </div>
  
    <div class="client uniqlo">
      <div class="client-more-less"></div>
      <div class="client-meta">
        <div class="client-close"></div>
        <ul class="project-list">
          <hr class="bar">
          <h4 class="client-title">Uniqlo Co., Ltd.</h4>
          <li>Some Example Project</li>
          <li>Another Project</li>
          <li>The Third Name</li>
          <li>Fourth Project Name</li>
          <li>Another Name</li>
        </ul>
      </div>
      <div class="overflow-wrapper">
        <img data-src="http://lorempixel.com/300/250/business">
        <img data-src="http://lorempixel.com/300/250/technics">
        <img data-src="http://lorempixel.com/300/250/nature">
        <img data-src="http://lorempixel.com/300/250/city">
        <img data-src="http://lorempixel.com/300/250/transport">
      </div>
      <img class="client-logo square" src="https://upload.wikimedia.org/wikipedia/commons/9/92/UNIQLO_logo.svg">
  
    </div>
  
  </div>