<div class="wrap">
  <div class="tile"> 
    <div class="text">
    <h1>Basic Facilities</h1>
    <h2 class="animate-text">Hi hello tata See you</h2>
    <p class="animate-text">Hi this is me We are developing a TNP Cell Management System</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
   </div>
  
  
  <div class="tile"> 
    <div class="text">
      <h1>Basic Facilities</h1>
      <h2 class="animate-text">Hi hello tata See you</h2>
      <p class="animate-text">Hi this is me We are developing a TNP Cell Management System</p><div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
   </div>
    
    <div class="tile"> 
    <div class="text">
      <h1>Basic Facilities</h1>
      <h2 class="animate-text">Hi hello tata See you</h2>
      <p class="animate-text">Hi this is me We are developing a TNP Cell Management System</p><div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
   </div>
  </div>
    
    
