<!--<div class="container">
    <div class="card">
      <figure class="front">
        <img src="../../../assets/landingpageheader.jpg" alt="front">
        <div class="caption">
          <h2>Training and  <span>Placement Cell</span></h2>
          <p>DCRUST, Murthal</p>
          <a href="#">View more</a>
        </div>			
      </figure>
  
      <figure class="back">
         <img src="http://www.jboeijenga.nl/img/back.jpg" alt="back">
          <div class="caption">
            <dl>
              <dt>Phone</dt>
              <dd>012 345 6789</dd>
              <dt>Email</dt>
              <dd>johndoe@gmail.com</dd>
              <dt>Web</dt>
              <dd>www.johndoe.com</dd>
            </dl>
          </div>
      </figure>
    </div>
  </div>-->

  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title'>Capacities</div>
  </div>