<app-studentnavigation></app-studentnavigation>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
	
			<div class="row">
		<div class="col-lg-4">
			<div class=" card namecard text-center" style="margin-top: 100px;" >
			  <img class="card-img-top img-responsive" src="http://aspirehire-co-uk.mysmarterwebsite.co.uk/aspirehire-co-uk/_img/profile.svg" style="" alt="Card image cap">
			  <hr>
			  <div class="card-body">
			    <h2 class="card-title " style="font-size: 1.5em; text-align: center; padding: 5px;">John Doe</h2>
			    <hr>
			    <p class="card-text" style="font-size: 1em; text-align: center; padding: 5px;">BRANCH</p>
			   
			  </div>
			</div>
			<div class=" card namecard text-center" >
			  
			  <div class="card-body">
			    <h2 class="card-title " style="font-size: 1.5em; text-align: center; padding: 5px;">Bio</h2><hr>
			    <p class="card-text" style="font-size: 1em; text-align: center; ">Hateful, idiot, not so working and dumb</p>
			   
			  </div>
			</div>
			
		</div>

		<div class="col-lg-8">
			<div class="card  customcard text-center" style="margin-top: 100px;">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Experience
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>

	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Education
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>
	
	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Featured Skills
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>
	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Accomplishments
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>
	<div class="card text-center customcard ">
	<div onclick="function()"><i class="material-icons icon">add</i></div>
  	<div class="card-header">
    Interest
  	<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr >
  	</div>
  	</div>
	</div>
		
		
	</div>

</div>