.namecard{
	margin-left: 5%;
	width: 250px;

}
img{
	height: 100px;
	width: 100px;
	padding: 10px;
	margin:auto;
	object-position: center;
	border-radius: 50%;
}
.customcard{
	margin-top: 5%;
	padding: 10px;
}
.icon{
	float: right;
	padding: 5px;

}
.card-header{
	font-size: 2em;
}
.card-title{
	margin:5px;
	font-size: 1.2em;

}
.card-title ,.card-text{
	text-align: left;
	padding: 8px;
	font-size: 0.5em;
}
