<!--Trainig Module-->
<div class="row">
  <div class="col-lg-12">
    <div class="well" style="margin: 100px;">
          <h3>Approval Status by Company</h3>
          <form>
            <input class="form-control" type="text" style="color: black;" placeholder="Set the Status" readonly>
            <div class="form-group">
              <h4>Company Details</h4>
              <label for="inputInstititue">Name</label>
              <input type="text" name="inputInstitituename" placeholder="Name of the Institute/Company for Summer Training">
              <br>
              <br>
              <label for="inputInstititue">Address</label>
              <input type="text" name="inputInstititueaddress" placeholder="Address of the Institute/Company for Summer Training">
              
            </div>
            <div class="form-group">
              <h4>Starting and Ending Time</h4>
              <label for="inputInstititue">Start Date</label>
              <input type="text" name="inputInstitituename" placeholder="Start Date">
              <br>
              <br>
              <label for="inputInstititue">End Date</label>
              <input type="text" name="inputInstititueaddress" placeholder="End Date">
              
            </div>
            <div class="form-group">
              <h4>Add the approval File or Certificate</h4>
              
                <div *ngIf="currentFileUpload" class="progress">
	                <div class="progress-bar progress-bar-info progress-bar-striped"
		              role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		              aria-valuemin="0" aria-valuemax="100"
		              [ngStyle]="{width:progress.percentage+'%'}">
		              {{progress.percentage}}%</div>
                </div>
 
              <label class="btn btn-default"> <input type="file" (change)="selectFile($event)"></label>
 
              <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

            </div>
          
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

          </form>
          </div>
      </div>
    </div>