

.card{
  height:80%;
  overflow: auto;

}
.table{
  text-align: center;
}
.nav-justified{
  display: inline-block;
}
.customwell{
  width: 180px;
  clear: left;
  
}
img{
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
h5{
  text-align: center;
}
@media screen and (min-width:500px) {
    .customcontainer{ margin-top: 20%; } }
@media screen and (min-width:767px) {
    .customcontainer{ margin-top: 10%; } }
