<app-studentnavigation></app-studentnavigation>

<header>
  <div></div>
  <h1>{{username}}</h1>
  
</header>
<input type="checkbox" id="menu-toggle"/>
       <label for="menu-toggle">
              <i id="open" class="material-icons">menu</i>
              <i id="close" class="material-icons">arrow_back</i>
          </label>
          <ul id="menu">
              <li><a href="#"><i class="material-icons">mode_edit</i>Edit</a></li>
              <li><a href="#"><i class="material-icons">format_color_fill</i>Colors</a></li>
              <li><a href="#"><i class="material-icons">insert_emoticons</i>Emoticons</a></li>
              <li><a href="#"><i class="material-icons">insert_comment</i>Comments</a></li>
          </ul>
          <section>
              <article >
                  <p>
                    <h3 style="color:black">Branch</h3> : <h3 style="color:black">{{studentData.branch}}</h3><br>
                    <h3 style="color:black">Year</h3> : <h3 style="color:black">{{studentData.year}}</h3><br>
                    <h3 style="color:black">Roll Number</h3> : <h3 style="color:black">{{studentData._creator.rollno}}</h3><br>
                    <h3 style="color:black">ID</h3> : <h3 style="color:black">{{studentData._creator._id}}</h3>
                
                  
  </article>
</section>


<div class="card-grid" *ngIf="sizeBoolean" style="margin-top:5%;">
   <div class="card-wrap" *ngFor="let event of events; let i = index">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRNPI-JJmT8clEjJs6Co5BXTtgIoUCjMOk-ZsBu47Ayz3cTL-I" class="card-img"/>
      <div>
        <p>Event Name: {{event.name}}</p>
        <p>Branch: {{event.year}} </p>
        <p>Event Id: {{event._id}} </p>
        <p>Year: {{event.branch}} </p>
      </div>
    </div>
  </div>
</div>