<app-studentnavigation></app-studentnavigation>

<div class="container customcontainer" >
	
		<div class="well customwell">
			<img src="https://lh3.googleusercontent.com/-4q1LKYUvj7M/WTOU4JMtHfI/AAAAAAAAAJE/VLM3JwrEk5Ya7vaR66DvceCqo9bHPMY1ACEwYBhgL/w140-h140-p/218ba9a5-1308-4bde-9115-8b2d00a042a8" alt="username">
			<hr>
			<h5>{{username}}</h5>
			<h5>{{email}}</h5>
		</div>
	
<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#profile">Profile</a></li>
    <li><a data-toggle="pill" href="#events">Events</a></li>
    <li><a data-toggle="pill" href="#register">Register</a></li>
  </ul>
  
  <div class="tab-content card">
    <div id="profile" class="tab-pane fade in active">
      <table class="table">
        <tr>
          <td>Roll Number</td>
          <td>{{rollno}}</td>
        </tr>
        <tr>
          <td>Year</td>
          <td>{{year}}</td>
        </tr>
        <tr>
          <td>Branch</td>
          <td>{{branch}}</td>
        </tr>
      </table>
    </div>
    <div id="events" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="register" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>



   



<app-sindex></app-sindex>
<app-footer></app-footer>