.container{
  width: 80%;
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  

}


.card {
  display: flex;
  padding: 10px;
  box-shadow: 0 0 40px #999999;
  margin: auto;

}

.card-text{
  padding: 10px;
}

.card:hover{
  transform: scale(1.05);
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
}