<div class='container'>
  <form>
    <div class="form-group">
      <label for="companyName">Name of the Company</label>
      <input type="name" class="form-control" id="companyName" placeholder="Enter company name">
      <small id="companyName" class="form-text text-muted">We guess it's easy to pronounce!.</small>
    </div>
    <div class="form-group">
      <label for="companyWebsite">Company Website</label>
      <input type="name" class="form-control" id="companyWebsite" placeholder="Enter your website">
    </div>
    <div class="form-group">
      <label for="candidateProfile">Hiring for which profile</label>
      <select class="form-control" id="candidateProfile">
        <option>Graduate Trainee</option>
        <option>Software Engineer</option>
        <option>Develepor</option>
        <option>System Engineer</option>
        <option>Data Analyst</option>
        <option>Other</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='package'>Package CTC</label>
      <input type="number" class="form-control" id="package" placeholder="Enter CTC in LPA">
    </div>
    <div class="form-group">
      <label for="eligibilityCriteria">Upload Eligibility Criteria</label>
      <input type="file" class="form-control-file" id="eligibilityCriteria" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Upload your file in a .pdf format</small>
    </div>
    <div class="form-group">
      <label for="selectionProcedure">Upload Selection Procedure</label>
      <input type="file" class="form-control-file" id="selectionProcedure" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Upload your file in a .pdf format</small>
    </div>
    <div class='form-group'>
      <label for='driveDates'>Tentative dates for the Drive</label>
      <input type="text" class="form-control" id="driveDates" placeholder="Enter Tentative dates">
    </div>
    <div class='form-group'>
      <label for='contactPersonName'>Name of Person to contact</label>
      <input type="name" class="form-control" id="contactPersonName" placeholder="Enter name of contact person">
    </div>
    <div class='form-group'>
      <label for='personPosition'>Position of person in Company</label>
      <input type="text" class="form-control" id="personPosition" placeholder="Enter position in Company">
    </div>
    <div class='form-group'>
      <label for='personContact'>Contact number of person to contact</label>
      <input type="number" class="form-control" id="personContact" placeholder="Enter contact number">
    </div>
    <div class='form-group'>
      <label for='positionNumber'>Number of Positions</label>
      <input type="number" class="form-control" id="positionNumber" placeholder="Enter number of positions">
    </div>
    <div class="form-group">
      <label for="drivePurpose">Purpose of Drive</label>
      <select class="form-control" id="drivePurpose">
        <option>placement</option>
        <option>Internship</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
